.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orange;
    text-shadow: 2px 2px black;
  }

.anchor {
    position: absolute;
    transform: translateY(-50vh);
}

#carouselServices h5 {
  color: orange;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.carousel-item p {
  color: orange;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#contactInfo p {
  color: rgba(255, 166, 0, 0.75);
}